.vscode/
.vs/
transboost.code-workspace

__pycache__/
.pytest_cache/

data/
transboost/data/
transboost/datasets/datasets_path.py

cloner/

test.py
test/
python_exploration_test/
transboost/test/

results/
transboost/results/

build/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
transboost/build/
transboost/CMakeFiles/
transboost/cmake_install.cmake
transboost/CMakeCache.txt
transboost/Makefile
